.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1%;
}
.username {
  padding: 0%;
}
.userEmail {
  padding: "2px" !important;
}
.left {
  width: 18vw;
  border-radius: 10px;
  display: block;
  text-align: center;
}
.profile-container * {
  color: gray;
}
.profile-links-container {
  text-align: left;
  width: 100%;
  margin: auto;
  margin-top: 40px;
}
.profile-container-section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}
.task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  color: gray;
}
.profile-container-section:hover {
  cursor: pointer;
  opacity: 0.6;
}
.mid {
  width: 48vw;
  border-radius: 15px;
  text-align: center;
}
.banner {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.carousel-container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.card {
  width: 80%;
  height: 280px;
  margin: auto;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  background-color: #fff;
}
.mainHeader {
  color: #e2b33a;
  font-weight: 900;
  font-size: 28px;
  text-align: left;
}
.card-image {
  width: 100%;
  height: 60%;
}
.card-text {
  width: 100%;
  height: 40%;
  line-height: 30px;
  text-align: left;
  padding: 15px;
}
.card-text p {
  color: gray;
  font-size: small;
}
.card-text h5 {
  color: #606060;
  font-size: 0.8vw;
}
.card-image img {
  width: 100%;
  height: 100%;
}
.control {
  height: 250px;
}
.control * {
  margin-top: 100px;
}
.list {
  width: 100%;
  min-height: 100px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 30px;
}
.list-gig-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 85%;
  /* margin: auto; */
  text-align: left;
  font-size: 1vw;
  font-weight: bold;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
}
.list-gig-header button {
  width: 12%;
  color: #fff;
  background-color: #3cbc8d;
  border: none;
  border-radius: 10px;
  font-weight: 900;
  padding: 10px;
  height: 45px;
}
.list-gig-header button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.list-gig-table-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  /* margin: auto; */
  margin-bottom: 20px;
  color: rgb(80, 72, 72);
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.list-gig-table-header * {
  padding-left: 15px;
}
.list-gig-table-body {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: gray;
  border-bottom: 1px solid lightgray;
}
.taskButton {
  width: 50% !important;
  margin-top: 8px;
  padding: 12px 0 12px 0;
  background-color: #9b740a !important;
  color: white !important;
  border: none;
  border-radius: 10px;
}
.list-gig-table-body .name {
  display: grid;
  text-align: left;
  padding-left: 0;
  /* margin-left: 15px; */
}
.list-gig-table-body button {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  background-color: #fdf2d6 !important;
  color: #e2b33a !important;
  min-width: 90px;
  margin-top: 5px;
  font-weight: 700;
}
.taskPriority {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  background-color: #fdf2d6 !important;
  color: #e2b33a !important;
  min-width: 90px;
  font-weight: 700;
}
.list-gig-table-body p {
  padding-top: 0px !important;
}
.list-gig-table-body .gig,
.stage,
.status {
  margin-left: 18px;
}
.list-gig-table-body .name .job-feed-image {
  border-radius: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.list-gig-table-body .name .job-feed-image img {
  width: 100%;
  height: 100%;
}
.sub-tabs {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}
.sub-tab-item {
  width: 45%;
  background-color: #fff;
  border-radius: 10px;
}
.title-main h4 {
  padding-left: 20px;
  padding-top: 20px;
}
.tab-item-block {
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  line-height: 25px;
  border-bottom: 1px solid lightgray;
}
.title-sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.data-sub {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}
.right {
  width: 28vw;
  border-radius: 10px;
}
.right-main,
.right-sub {
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 30px;
}
.right-main-item {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}
.right-main-title {
  width: 100%;
}
.right-main-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
}
.right-main-data button {
  background-color: #fff2f1;
  border: none;
  height: 30px;
  border-radius: 5px;
  color: #f95f53;
}
.right-sub-data {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
.right-sub-data button {
  width: 100px;
  height: 35px;
  border: 1px solid #cadcfc;
  border-radius: 6px;
  background-color: #fff;
}
.right-sub-data p {
  color: gray;
}
.sub-image {
  overflow: hidden;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.sub-image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .mid {
    width: 100vw;
    margin: 20px;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .mainHeader {
    margin-left: 20px;
  }
  .list-gig-header button {
    width: 30%;
    height: 45px;
  }
  .list-gig-header {
    padding: 0px 0px 20px 0px;
  }
  .list-gig-header p {
    font-size: 20px;
  }
  .list-gig-header span {
    font-size: 15px;
  }
}
